.container {
    display: flex;
    gap: 11px;
    margin-top: 15px;

    margin-bottom: 15px;
    
}

.cardGrafico {
    width: 613px;
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.teste1 {
    width: 42rem;
    
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background: #131618;
}

.p-accordion .p-accordion-content {
    padding: 1rem;
    border: 2px solid #151b1e;
    background: #131618;
    color: rgba(255, 255, 255, 0.87);
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: #131618;    
    border-color: #151b1e;
    color: rgba(255, 255, 255, 0.87);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem;
    border: 2px solid #151b1e;
    color: rgba(255, 255, 255, 0.87);
    background: #131618;
    font-weight: 600;
    border-radius: 6px;
    transition: box-shadow 0.3s;
}

.Indicadores{
    font-size: small;
    color: rgb(179, 179, 179);
    background-color: #1d2930;
    border-color: #1d2930;
    height: 2rem;
    margin-left: 1rem;
}