.scatterBox {

    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 9rem;
    width: 35rem;
    gap: 2rem;
}

.spanChart {
    padding-bottom: 20px;
}

.resumo {
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
    width: 41rem;
}

.container {
    display: flex;
    flex-direction: row;

}

