.cardFiltro{
    flex: content;
    justify-content: center;
    padding: 5px;
}

.casc{
    min-width: 14rem;
    width: 45%;
}

.botaoFiltro{
    margin-left: 5px;
    background-color: rgb(24, 92, 170);
    border-color: rgb(24, 92, 170);
    color: rgb(199, 199, 199);
}

.botaoLimpar{
    margin-left: 5px;
    background-color: rgb(73, 79, 85);
    border-color: rgb(73, 79, 85);
    color: rgb(199, 199, 199);
}

.labelsFiltro{
    padding-left: 10px;
    color: #c7c7c7;
}

.conjunto{
    background-color: #131618;
    padding: 12px;
    border: 1px solid #131618;
    border-radius: 10px;
    margin: 10px;
}



/* w-full md:w-14rem */