.cardFiltro{
    /*flex: content;*/
    justify-content: center;
    padding: 5px;
}

.filtroSubmercado{
    min-width: 24rem;
    max-width: 24rem;
    width: 35%;
}

.filtroEnergia{
    min-width: 18rem;
    max-width: 18rem;
    width: 30%;
}

.filtroTipo{
    min-width: 21rem;
    max-width: 21rem;
    width: 30%;
}

.filtroPeriodicidade{
    min-width: 18rem;
    max-width: 18rem;
    width: 30%;
}

.botaoFiltro{
    margin-left: 5px;
    background-color: rgb(24, 92, 170);
    border-color: rgb(24, 92, 170);
    color: rgb(199, 199, 199);
    height: 3rem;
}

.botaoLimpar{
    margin-left: 5px;
    background-color: rgb(73, 79, 85);
    border-color: rgb(73, 79, 85);
    color: rgb(199, 199, 199);
    height: 3rem;
}

.labelsFiltro{
    padding-left: 10px;
    color: #c7c7c7;
}

.conjunto{
    background-color: #131618;
    padding: 12px;
    border: 1px solid #131618;
    border-radius: 10px;
    margin: 10px;
}

.conjunto1{
    display: flex;
    flex: content;
    align-items: center;
}

/*.alinhamento{
    display: flex;
    flex-direction: row;
    justify-content: end;
}*/



/* w-full md:w-14rem */