.cardFiltro{
    flex: content;
    justify-content: center;
    padding: 5px;
}

.casc{
    min-width: 14rem;
    width: 45%;
}

.botaoFiltro{
    margin-left: 5px;
    background-color: rgb(24, 92, 170);
    border-color: rgb(24, 92, 170);
    color: rgb(199, 199, 199);
}

.botaoLimpar{
    margin-left: 5px;
    background-color: rgb(73, 79, 85);
    border-color: rgb(73, 79, 85);
    color: rgb(199, 199, 199);
}

.labelsFiltro{
    padding-left: 10px;
}

.conjunto{
    padding-top: 12px;
}

/* w-full md:w-14rem */