.conjuntoProdutos{
    display: flex;
    gap:  1rem;
    padding-bottom: 20px;
    padding-left: 20px;
    justify-content: center;
}

.conjuntoProdutos_Colum_Indi{
    display: flex;
    flex-direction: column;

    gap: 1rem;

   
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 15px;
    align-items: center;
}

.conjuntoProdutos_Row {
    
    display: flex;
    justify-content: center;

    gap: 1rem;

   
    padding-left: 20px;
    padding-right: 11px;
    
}

.conjuntoProdutos_Colum {
    display: flex;
    flex-direction: column;

    gap: 1rem;

   
    padding-left: 20px;
    padding-right: 11px;
    padding-bottom: 15px;
    /* align-items: center; */
}




/*

.containerProduto {
    width: 50rem;
}

*/

.labelsProdutosGraficos{
    font-size: small;
}


/* VOLUME AT PRICE */
.cardGraficoVolumeAtPrice {
    width: 55%;
    height: 375px;
    background-color: #131618;
    border-radius: 15px;
}


.cardGraficoVolumeAtPrice {
    width: 13rem;
}


.cardGraficoPreco {
    width: 98%;
    height: 375px; 
    background-color: #131618; 
    border-radius: 15px; 
    
    padding: 10px;
}

.preco {
    width: 50rem;
    
}

.percentualAgressoes {
    width: 40.5rem;
}

.cardGraficoBook {
    width: 55%;
    height: 375px; 
    background-color: #131618; 
    border-radius: 15px; 
    
}

.cardGraficoBook {
    width: 13rem;
}

.cardGraficoPercentual {
    width: 35rem;
}









/*



.cardGraficoBook {
    width: 15%;
    height: 375px; 
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.bookOferta{
    width: 16%;
    margin: 10px 684px;
}



.cardGraficoVolume{
    width: 15%;
    height: 80px; 
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.volume{
    width: 98%;
    margin: 10px;
}



.cardGraficoHistorico{
    width: 80%;
    height: 400px; 
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.historicoAgressoes{
    width: 230%;
    margin: 10px;
}


.cardGraficoPercentual{
    width: 70%;
    height: 400px; 
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.percentualAgressoes{
    width: 70%;
    margin: 10px 368px;
}


*/