.cardGrafico2 {
    width: 90%;
    height: 70%; 
    background-color: #131618; 
    border-radius: 15px; 
    margin: 10px;
    padding: 10px;
}

.containerSwap{
    display: flex;
    justify-content: center;
}